<div class="login-main">
    <div class="container">
        <div class="intro-text">
            <h1>Rubah Sandi</h1>
            <p>Sudah Punya Akun? <a routerLink="/login">Login</a></p>
        </div>
        <form>
            <input list="browsers" name="browser" placeholder="Pilih Email">
            <datalist id="browsers">
                <option value="ujang@gmail.com">
                <option value="ucup@gmail.com">
                <option value="otong@gmail.com">
                <option value="uce@gmail.com">
                <option value="Ahmadp@gmail.com">
            </datalist>
            <input type="password" name="password" placeholder="Sandi Baru" required>
            <button type="submit">Kirim</button>
        </form>
    </div>
</div>
